* {
	box-sizing: border-box;
	margin: 0px;
}
body{
	font-family: cursive,sans-serif;
	margin: 0px;
}
header>h1{
	margin: 40px;
	text-align: center;
	font-size: 50px;
	font-family: "lucida console",sans-serif;
}
section{
	border: solid 1px black;
	background-color: #cabfbf;
	margin: 20px
}
section>h2{
	border: solid 1px black;
	border-right: 0px;
	border-top: 0px;
	height: 40px;
	width: 100px;
	float: right;
	text-align: center;
}
section>article{
	clear: right;
	padding: 14px;
	padding-top: 8px;
}
#sectionTitle1{
	background-color:  #7bb516;
}
#sectionTitle2{
	background-color: #3f81b596;
}
#sectionTitle3{
	background-color: #f5bd18ed;
}
.row{
	width: 100%;
}
/*
	no need to do all case since we only use those below
*/
@media (min-width: 992px) {
	.col-desktop-4{
		float: left;
		width:33.33%;
	}
}
@media (min-width:768px) and (max-width: 991px) {
	.col-tablet-6, .col-tablet-12{
		float: left;
	}
	.col-tablet-12{
		width: 100%;
	}
	.col-tablet-6{
		width: 50%;
	}
}
@media (max-width:767px) {
	.col-mobile-12{
		float: left;
	}
	.col-mobile-12{
		width: 100%;
	}
}